# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Maven
backend/target/

# Node
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# zip files
/backend/src/main/java/com/aerogrid/*.zip
